MAIL_FROM=smtprelay@sample.com
MAIL_TO="User One <userone@sample.com>,User Two <usertwo@sample.com>"
MAIL_BCC="User Three <usertheree@sample.com>"
MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_TLS=1
MAIL_LOGIN=smtprelay@sample.com
MAIL_PASSWORD=P@ssword
TITLE="Latest in Boats in Production"
FOLDER="/samba/shares/production/Boats Waiting Production"
FILE_NAME="/home/fwarren/Documents/folder_list_boats_in_production.txt"
