MAIL_FROM=smtprelay@sample.com
MAIL_TO="User One <userone@sample.com>,User Two <usertwo@sample.com>"
MAIL_BCC="User Three <usertheree@sample.com>"
MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_TLS=1
MAIL_LOGIN=smtprelay@sample.com
MAIL_PASSWORD=P@ssword
SHARES="Folder Set Title,Other Title"
SHARE_NAMES="/samba/shares/tofu/sample_folder,/samba/shares/other_folder"
PREFIX=sample
SAVE_DIR=/home/user/Documents/report_state
